/* -------------------------------------------------------------- WD start --------------------- */
.wd_posts_view {
	width: 100%;
	background-color: none;
	padding: 10px 0 70px 0;
	text-align: center;
}
.wd_posts_view .section-header h3,
.wd_posts_view .section-header p {
    color: #656565;
}

.wd_posts_view a {
	color: #656565;
}

.wd_posts_view a:hover, a:focus {
	color: #000000;
}

.wd_posts_view .section-header {
	margin-bottom: 0px;
}

.wd_posts_view .section-content {
	width: 100%;
}

.wd_posts_view .section-content .post {
	width: 100%;
	background-color: #e0e0e0;
	padding-bottom: 40px;
	text-align: left;
	min-height: 547px;
}

.wd-post-on-roll-over {
	background-color: #f0a055;
}

.wd_posts_view .section-content .post .post-on-roll-over .post-entry {
	color: #ffffff;
}

.wd_posts_view .section-content .post .post-entry {
	margin: 40px 0 55px 0;
	padding: 0 30px;
	line-height: 26px;
	color: #656565;
	font-size: 16px;
}





.wd_posts_view .illdy-blog-post {
	margin-top: 30px;
	min-height: 540px;
}
.wd_posts_view .owl-item .illdy-blog-post {
	width: 100%;
}
.wd_posts_view .owl-prev,
.wd_posts_view .owl-next {
    position: absolute;
    top: 50%;
    font-size: 50px;
    color: #fff;
    transform: translateY(-50%);
}
.wd_posts_view .owl-prev {
	left: -15px;
}
.wd_posts_view .owl-next {
	right: -15px;
}
.wd_posts_view .section-content .post .post-image {
	width: 100%;
	height: 213px;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-bottom: 37px;
}
.wd_posts_view .illdy-blog-post h5 {
	margin: 0;
}

.wd_posts_view .section-content .post .post-title {
	width: 100%;
    padding: 0 30px;
    color: #5e5e5e;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: block;
}

.wd_posts_view .section-content .post .post-title:hover {
	color: #f0a055;
	text-decoration: none;
}

.wd_posts_view .section-content .post .post-button {
	line-height: 26px;
	padding: 0 30px;
	font-size: 16px;
	font-family: "Lato";
	color: #656565;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	margin-left: 10px;
}

.wd_posts_view .section-content .post .post-button:hover,
.wd_posts_view .section-content .post .post-button:focus {
	text-decoration: none;
	color: #f0a055;
}
.wd_posts_view .section-content .post .post-button:active,
.illdy_home_parallax h3 {
	color: #656565;
}
.top-parallax-section h1,
.top-parallax-section p {
	color: #fff;
}

.wd_posts_view .section-content .post .post-button .fa {
	margin-right: 10px;
}

.wd_posts_view .latest-news-button,
a.button {
	width: auto;
	height: 45px;
	line-height: 45px;
	background: #f0a055;
	margin-bottom: 0px;
	margin-top: 20px;
	padding: 0 35px;
	display: inline-block;
	font-weight: 700;
	font-size: 16px;
	color: #f7f7f7;
	border-radius: 3px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	font-family: "Lato";
}

.wd_posts_view .latest-news-button:hover,
a.button:hover {
	text-decoration: none;
	opacity: 0.9;
	color: #fff;
}
.right-button {
	margin-left: 15px;
}
.wd_posts_view .latest-news-button .fa {
	margin-right: 12px;
}





#wd_projects {
	width: 100%;
	background: #fff;
	padding: 40px;
	text-align: center;
	background-image: url(http://localhost/wp-content/themes/illdy/layout/images/front-page/pattern.png) !important;
}






#wd_patron {
	width: 100%;
	padding: 50px 0 30px 0;
	text-align: center;
	position: relative;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}

#wd_patron .section-header {
	width: 100%;
	margin-bottom: 40px;
}

#wd_patron .section-header h3 {
	color: #656565;
}

#wd_patron .section-content {
	width: 100%;
}

#wd_patron .section-content .testimonials-carousel {
	width: 100%;
}

#wd_patron .section-content .testimonials-carousel .carousel-testimonial {
	text-align: center;
}

#wd_patron .section-content .testimonials-carousel .carousel-testimonial .testimonial-image {
	width: 100%;
	margin-bottom: 40px;
}

#wd_patron .section-content .testimonials-carousel .carousel-testimonial .testimonial-image img {
	width: 127px;
	height: 127px;
	display: inline;
	border-radius: 50%;
}

#wd_patron .section-content .testimonials-carousel .carousel-testimonial .testimonial-content {
	width: 100%;
	background-color: #f0a055;
	margin-bottom: 48px;
	padding: 50px 35px 25px;;
	position: relative;
}

#wd_patron .section-content .testimonials-carousel .carousel-testimonial .testimonial-content blockquote {
	line-height: 26px;
	margin: 0;
	padding: 0;
	border-left: none;
	color: #fff;
	font-size: 16px;
    font-family: "Lato";
    font-weight: 400;
}

#wd_patron .section-content .testimonials-carousel .carousel-testimonial .testimonial-content:after {
	content: "";
	width: 0;
	height: 0;
	margin-right: auto;
	margin-left: auto;
	border-style: solid;
	border-width: 19px 18px 0 18px;
	border-color: #ffffff transparent transparent transparent;
	position: absolute;
	right: 0;
	bottom: -19px;
	left: 0;
}

#wd_patron .section-content .testimonials-carousel .carousel-testimonial .testimonial-meta {
	width: 100%;
    color: #656565;
    font-family: "Poppins";
}

#wd_patron .section-content .testimonials-carousel .owl-controls {
	width: 100%;
	margin-top: 20px;
}

#wd_patron .section-content .testimonials-carousel .owl-controls .owl-dots {
	width: 100%;
}

#wd_patron .section-content .testimonials-carousel .owl-controls .owl-dots .owl-dot {
	width: 10px;
	height: 10px;
	background-color: #fff;
	margin: 0 7.5px;
	display: inline-block;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 50%;
}

#wd_patron .section-content .testimonials-carousel .owl-controls .owl-dots .owl-dot:hover, #wd_patron .section-content .testimonials-carousel .owl-controls .owl-dots .owl-dot.active {
	background: transparent;
	border: 1px solid #fff;
}








#wd_contact label {
	width: 100% !important;
}

#wd_contact {
	width: 100%;
	background-color: #FFF;
	padding: 40px 0 50px 0;
	text-align: center;
}

#wd_contact .section-header {
	width: 100%;
	margin-bottom: 80px;
}

#wd_contact .section-content {
	width: 100%;
}

#wd_contact .section-content .contact-us-box {
	width: 100%;
	display: inline-block;
	text-align: left;
}

#wd_contact .section-content .contact-us-box .box-left {
	width: auto;
	margin: 0;
	padding: 0 20px 0 0;
	border-right: 1px solid #e1e1e1;
	display: table-cell;
	font-weight: 400;
	font-size: 16px;
	color: #656565;
	font-family: "Lato";
	line-height: 26px;
}

#wd_contact .section-content .contact-us-box .box-right {
	width: auto;
	margin: 0;
	padding: 0 0 0 20px;
	display: table-cell;
}

#wd_contact .section-content .contact-us-box .box-right span {
	width: 100%;
	display: block;
	line-height: 1.6;
	font-size: 16px;
	color: #8c9597;
	font-family: "Lato";
}

#wd_contact .section-content .contact-us-box .box-right span a {
	color: #8c9597;
	text-decoration: none;
}

#wd_contact .section-content .contact-us-box .box-right span a:hover {
	text-decoration: underline;
}

#wd_contact .section-content .contact-us-social {
	width: 100%;
	text-align: right;
}

#wd_contact .section-content .contact-us-social a {
	margin-left: 15px;
	font-size: 15px;
	color: #8c9597;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#wd_contact .section-content .contact-us-social a:hover {
	color: #333;
}

#wd_contact .section-content .contact-us-social a:first-child {
	margin-left: 0;
}

#wd_contact .section-content .wpcf7-form {
	width: 100%;
	text-align: left;
}

#wd_contact .section-content .wpcf7-form p span {
	width: 100%;
	display: block;
}

#wd_contact .section-content .wpcf7-form p span.wpcf7-not-valid-tip {
	font-weight: 400;
}

#wd_contact .section-content .wpcf7-form p:nth-of-type(1), #wd_contact .section-content .wpcf7-form p:nth-of-type(2), #wd_contact .section-content .wpcf7-form p:nth-of-type(3) {
	width: 33.33333333%;
	margin: 0;
	position: relative;
	min-height: 1px;
	display: block;
	float: left;
}

#wd_contact .section-content .wpcf7-form p:nth-of-type(1) {
	padding-right: 15px;
}

#wd_contact .section-content .wpcf7-form p:nth-of-type(2) {
	padding-right: 15px;
	padding-left: 15px;
}

#wd_contact .section-content .wpcf7-form p:nth-of-type(3) {
	padding-left: 15px;
}

#wd_contact .section-content .wpcf7-form p:nth-of-type(4) {
	width: 100%;
	margin: 26px 0 0 0;
	padding: 0;
	display: block;
	float: left;
}

#wd_contact .section-content .wpcf7-form p:nth-of-type(5) {
	margin: 0;
	padding: 0;
	display: block;
	float: right;
	width: auto;
}

#wd_contact .section-content .wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ng {
	color: #656565;
}

#wd_contact .section-content .wpcf7-form .wpcf7-response-output {
	margin-top: 40px !important;
	float: left;
}

#wd_contact div.wpcf7 img.ajax-loader {
	margin-top: 50px;
	margin-right: 10px;
}

#wd_contact .section-content .wpcf7-form p .wpcf7-text {
	width: 100%;
	height: 35px;
	background-color: #fcfcfc;
	padding: 0 20px;
	border: 1px solid #e1e1e1;
	outline: 0;
	font-family: "Lato", sans-serif;
	font-size: 16px;
	color: #8c9597;
	display: block;
	font-weight: 400;
	line-height: 25px;
}

#wd_contact .section-content .wpcf7-form p .wpcf7-text::-webkit-input-placeholder {
	color: #8c9597;
}

#wd_contact .section-content .wpcf7-form p .wpcf7-text::-moz-placeholder {
	color: #8c9597;
}

#wd_contact .section-content .wpcf7-form p .wpcf7-text:-ms-input-placeholder {
	color: #8c9597;
}

#wd_contact .section-content .wpcf7-form p .wpcf7-text:-moz-placeholder {
	color: #8c9597;
}

#wd_contact .section-content .wpcf7-form p .wpcf7-textarea {
	width: 100%;
	height: 217px;
	background-color: #fcfcfc;
	margin: 0;
	padding: 10px 20px 10px 20px;
	border: 1px solid #e1e1e1;
	outline: 0;
	resize: none;
	display: block;
	color: #8c9597;
	font-weight: 400;
	font-family: "Lato", sans-serif;
	font-size: 16px;
}

#wd_contact .section-content .wpcf7-form p .wpcf7-textarea::-webkit-input-placeholder {
	color: #8c9597;
}

#wd_contact .section-content .wpcf7-form p .wpcf7-textarea::-moz-placeholder {
	color: #8c9597;
}

#wd_contact .section-content .wpcf7-form p .wpcf7-textarea:-ms-input-placeholder {
	color: #8c9597;
}

#wd_contact .section-content .wpcf7-form p .wpcf7-textarea:-moz-placeholder {
	color: #8c9597;
}

#wd_contact .section-content .wpcf7-form p .wpcf7-submit {
	width: auto;
	height: 44px;
	background-color: #fff;
	margin: 40px 0 0 0;
	padding: 0 60px;
	border: none;
	border-radius: 5px;
	display: inline-block;
	font-weight: 700;
	color: #fff;
	background-color: #f0a055;
	float: right;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	outline: 0;
	font-family: "Lato";
	font-size: 16px;
	text-transform: initial;
}

#wd_contact .section-content .wpcf7-form p .wpcf7-submit:hover {
	opacity: 0.9;
}

#wd_contact .section-content .wpcf7-form .wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
	margin: 0;
	padding: 10px 20px;
	float: left;
	border-color: #f3c3c3;
}



/* 09. Team */
#wd_team {
	width: 100%;
	background: #fff;
	padding: 80px 0 100px 0;
	text-align: center;
	background-image: url(http://localhost/wp-content/themes/illdy/layout/images/front-page/pattern.png) !important;
}

#wd_team .section-header {
	width: 100%;
	margin-bottom: 85px;
}

#wd_team .section-content {
	width: 100%;
}

#wd_team .section-content .person {
	width: 100%;
}

#wd_team .section-content .person .person-image {
	width: 125px;
	margin-right: 25px;
	float: left;
}

#wd_team .section-content .person .person-image img {
	max-width: 100%;
	height: auto;
	border-radius: 50%;
}

#wd_team .section-content .person .person-content {
	text-align: left;
    width: calc( 100% - 150px );
    float: right;
}

#wd_team .section-content .person .person-content h6 {
	width: 100%;
	margin: 12px 0 5px 0;
	color: #5e5e5e;
}

#wd_team .section-content .person .person-content p {
	width: 100%;
	margin: 0 0 10px 0;
	color: #8c9597;
	line-height: 20px;
}
#wd_team .section-content .person .person-content p.person-position {
	margin: 0 0 20px 0;
	line-height: 26px;
}

#wd_team .section-content .person .person-content .person-content-social {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#wd_team .section-content .person .person-content .person-content-social li {
	margin-left: 10px;
	float: left;
}

#wd_team .section-content .person .person-content .person-content-social li:first-child {
	margin-left: 0;
}

#wd_team .section-content .person .person-content .person-content-social li a {
	width: 25px;
	height: 25px;
	line-height: 25px;
	display: inline-block;
	border-radius: 50%;
	font-size: 13px;
	color: #fff;
	text-align: center;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	border: 1px solid;
}

#wd_team .section-content .person .person-content .person-content-social li a:hover {
	opacity: 0.9;
}

#wd_team .widget_illdy_person {
	margin-top: 40px;
}

#wd_team .widget_illdy_person:nth-child(1), #wd_team .widget_illdy_person:nth-child(2), #wd_team .widget_illdy_person:nth-child(3) {
	margin-top: 0;
}

.wd-top-menu {
	text-align: right;
}

.wd-top-menu ul {
    list-style-type: none;
    margin: 0 50px 0 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
    display: inline-block;
}

.wd-top-menu li {
    float: left;
}

.wd-top-menu li a {
    display: block;
    color: #656565;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.wd-top-menu li a:hover {
    background-color: #f0a055;
    color: white;
}
/* -------------------------------------------------------------- WD end --------------------- */